setuptools
pyaudio
SpeechRecognition
--extra-index-url https://download.pytorch.org/whl/cu118
torch
numpy
faster-whisper
webrtcvad
resemblyzer
scipy
pyannote.audio
python-dotenv
# onnx
# onnxruntime-gpu
# pycuda
# tensorrt-cu12==10.9.0.34
